[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
flask-sqlalchemy = "==2.4.1"
flask-wtf = "*"
python-dotenv = "*"
flask-migrate = "*"
pymysql = "*"
wtforms-alchemy = "*"
flask-bootstrap4 = "*"
uwsgi = "*"
uwsgi-pipenv = "*"

[requires]
python_version = "3.6"
