{% extends "profile/patient-profile-base.html" %}

{% block card_content %}
      <div class="row">
          <div class="col-md" style="margin: 5rem">
              <p style="margin-bottom: 2rem"><b>Status: {{ patient.patient_status }}</b></p>
              <p style="margin-bottom: 2rem">Gender: [to link]</p>
              <p style="margin-bottom: 2rem">DOB: [to link]</p>
          </div>
          <div class="col-md" style="margin: 5rem">
              <p style="margin-bottom: 2rem"><b>Primary Diagnosis: [to link]</b></p>
              <p style="margin-bottom: 2rem">Primary Provider: {{ patient.patient_provider }}</p>
          </div>
      </div>
  </div>
{% endblock %}
