{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top: 4rem">
        <div class="card">
          <div class="card-header">
              <b>Edit Patient</b>
          </div>
          <div class="card-body">
            <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
                <p>
                    {{ form.first_name.label }}<br>
                    {{ form.first_name(class="form-control", size=32) }}
                    {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.last_name.label }}<br>
                    {{ form.last_name(class="form-control", size=32) }}
                    {% for error in form.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.patient_status.label }}<br>
                    {{ form.patient_status(class="form-control") }}<br>
                </p>
                <p><input type=submit class='btn btn-primary btn-lg' value="Save Changes">
            </form>
          </div>
        </div>

    </div>
{% endblock %}
