{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top: 4rem">
        <div class="card">
          <div class="card-header" style="height: 4.5rem">
              <h2><b>Patient List</b>
                  <a class="btn btn-primary btn-lg"
                     href={{ url_for('patient_bp.create_patient') }} role="button" style="position: absolute; right: 2rem">
                      <i class="fas fa-plus"></i>
                          &emsp;Add Patient
                  </a>
              </h2>
          </div>
          <div class="card-body">
              <table class="table table-hover table-sm" id="patient-list-table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Last</th>
                      <th scope="col">First</th>
                      <th scope="col">Primary Provider</th>
                      <th scope="col">Status</th>
                      <th style="text-align: center; vertical-align: middle" scope="col" class="no-sort">Edit</th>
                      <th style="text-align: center; vertical-align: middle" scope="col" class="no-sort">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for patient in patient_list %}
                    <tr>
                      <td><a href={{ url_for('patient_bp.view_patient', patient_id = patient.patient_id) }}>
                          {{ patient.patient_id }}</a></td>
                      <td><a href={{ url_for('patient_bp.view_patient', patient_id = patient.patient_id) }}>
                          {{ patient.last_name }}</a></td>
                      <td><a href={{ url_for('patient_bp.view_patient', patient_id = patient.patient_id) }}>
                          {{ patient.first_name }}</a></td>
                      <td><a href={{ url_for('patient_bp.view_patient', patient_id = patient.patient_id) }}>
                          {{ patient.patient_provider }}</a></td>
                      <td><a href={{ url_for('patient_bp.view_patient', patient_id = patient.patient_id) }}>
                          {{ patient.patient_status }}</a></td>
                      <td style="text-align: center; vertical-align: middle"><a href={{ url_for('patient_bp.edit_patient', patient_id = patient.patient_id) }}>
                          <i class="fas fa-pencil-alt"></i></a></td>
                      <td style="text-align: center; vertical-align: middle"><a href={{ url_for('patient_bp.delete_patient', patient_id = patient.patient_id) }}">
                          <i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
        <a class="btn btn-primary btn-lg mt-3" href={{ url_for('index_bp.index') }} role="button">
            <i class="fas fa-angle-left"></i> &ensp;Back to Dashboard</a>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
       $(document).ready( function () {
            $('#patient-list-table').DataTable();
       } );
    </script>

{% endblock %}
