{% extends "profile-container.html" %}

{% block profile_head %}

              <div class="card-body" style="height: 30rem">
                  <ul class="nav nav-tabs nav-justified">
                      <li class="nav-item">
                        <a class="nav-link{{ ' active' if active_page == 'main' else '' }}"
                           href={{ url_for('patient_bp.view_patient', patient_id = patient.patient_id) }}>
                            <i class="fas fa-user"></i> &emsp;Main</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link{{ ' active' if active_page == 'clinical' else '' }}"
                           href={{ url_for('patient_bp.view_patient_clinical', patient_id = patient.patient_id) }}>
                            <i class="fas fa-notes-medical"></i> &emsp;Clinical</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link{{ ' active' if active_page == 'contact' else '' }}"
                           href={{ url_for('patient_bp.view_patient_contact', patient_id = patient.patient_id) }}>
                            <i class="far fa-address-card"></i> &emsp;Contact</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link{{ ' active' if active_page == 'travel' else '' }}"
                           href={{ url_for('patient_bp.view_patient_travel', patient_id = patient.patient_id) }}>
                            <i class="fas fa-passport"></i> &emsp;Travel</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link{{ ' active' if active_page == 'history' else '' }}"
                           href={{ url_for('patient_bp.view_patient_history', patient_id = patient.patient_id) }}>
                            <i class="fas fa-history"></i> &emsp;History</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link{{ ' active' if active_page == 'files' else '' }}"
                           href={{ url_for('patient_bp.view_patient_files', patient_id = patient.patient_id) }}>
                            <i class="fab fa-dropbox"></i> &emsp;Files</a>
                      </li>
                  </ul>
{% endblock %}
