{% extends "patient-profile-base.html" %}

{% block card_content %}
      <div class="row">
          <div class="col-md" style="margin: 5rem">
              <p style="margin-bottom: 2rem">Contact Field 1: [to link]</p>
              <p style="margin-bottom: 2rem">Contact Field 2: [to link]</p>
          </div>
          <div class="col-md" style="margin: 5rem">
              <p style="margin-bottom: 2rem">Contact Field 3: [to link]</p>
              <p style="margin-bottom: 2rem">Contact Field 4: [to link]</p>
          </div>
      </div>
  </div>
{% endblock %}
