{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top: 4rem">
        <div class="card">
          <div class="card-header">
              <b>Patient List</b>
              <a class="btn btn-primary" href="/patients/new" role="button" style="position: absolute; right: 2rem"><span class="glyphicon glyphicon-plus"></span>  Add Patient</a>
          </div>
          <div class="card-body">
              <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Last</th>
                      <th scope="col">First</th>
                      <th scope="col">Status</th>
                      <th style="text-align: center; vertical-align: middle" scope="col">Edit</th>
                      <th style="text-align: center; vertical-align: middle" scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for patient in patient_list %}
                    <tr>
                      <td>{{ patient.patient_id }}</td>
                      <td>{{ patient.last_name }}</td>
                      <td>{{ patient.first_name }}</td>
                      <td>{{ patient.patient_status }}</td>
                        <td style="text-align: center; vertical-align: middle"><a href="/patients/edit/{{patient.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td style="text-align: center; vertical-align: middle"><a href="/patients/delete/{{ patient.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
    </div>

{% endblock %}
