{% extends "patient-profile-base.html" %}

{% block patient_card_content %}
<div class="row">
    <div class="col-md patient-card-column">
<!--        <p class="patient-profile-field"><b>Diagnosis: {{ patient.patient_diagnosis }}</b></p>-->
        <p>
        <ul>
            <li>Diagnosis (many to many)</li>
            <li>Urgency</li>
            <li>Syndrome status</li>
            <li>Hospital dossier (one to many)</li>
            <li>Surgeries (many to many)</li>
            <li>Syndrome status</li>
        </ul>
        </p>
    </div>
    <div class="col-md patient-card-column">
    </div>
</div>
</div>
{% endblock %}
