{% extends "patient-profile-base.html" %}

{% block patient_card_content %}
<div class="row">
    <div class="col-md patient-card-column">
        <p>
        <ul>
            <li>Diagnosis dialog</li>
            <li>Urgency</li>
            <li>Syndrome status</li>
            <li>Hospital dossier (one to many)</li>
            <li>Surgeries (one to many)</li>
            <li>Syndrome status</li>
        </ul>
        </p>
    </div>
    <div class="col-md patient-card-column">
    </div>
</div>
</div>
{% endblock %}
