{% extends "patient-profile-base.html" %}

{% block patient_card_content %}
<div class="row">
    <div class="col-md patient-card-column">
        <p class="patient-profile-field">Travel Field 1: [to link]</p>
        <p class="patient-profile-field">Travel Field 2: [to link]</p>
    </div>
    <div class="col-md patient-card-column">
        <p class="patient-profile-field">Travel Field 3: [to link]</p>
        <p class="patient-profile-field">Travel Field 4: [to link]</p>
    </div>
</div>
</div>
{% endblock %}
