{% extends "patient-profile-base.html" %}

{% block patient_card_content %}
<div class="row">
    <div class="col-md patient-card-column">
                <p>
                    <ul>
                        <li>Phone number (one to many)</li>
                        <li>Address 1, address 2, city, department (Dropdown), country</li>
                        <li>Guardian info</li>
                    </ul>
                </p>
    </div>
    <div class="col-md patient-card-column">
    </div>
</div>
</div>
{% endblock %}
