{% extends "base.html" %}

{% block content %}
<div class="container"style="margin-top: 5rem">
  <h1><b>HCA Data Dashboard</b></h1>
</div>
<div class="container" style="margin-top: 5rem">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-heartbeat fa-2x"></i><b style="font-size: 150%"> &emsp;Patients</b>
        </div>
        <div class="card-body" style="height: 20rem">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Patient Status</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pre-Op</td>
                <td>{{ preop_count }}</td>
              </tr>
              <tr>
                <td>Post-Op</td>
                <td>{{ postop_count }}</td>
              </tr>
              <tr>
                <td>Following</td>
                <td>{{ follow_count }}</td>
              </tr>
              <tr>
                <td>Uncategorized</td>
                <td>{{ uncat_count }}</td>
              </tr>
              <tr>
                <td><b>Total</b></td>
                <td><b>{{ patient_count }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-lg btn-block" href={{ url_for('patient_bp.view_patient_list') }} role="button">
            <i class="fas fa-list"></i> &emsp;View Patient List</a>
          <a class="btn btn-primary btn-lg btn-block" href={{ url_for('patient_bp.create_patient') }} role="button">
            <i class="fas fa-plus"></i> &emsp;Add a Patient</a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-user-md fa-2x"></i><b style="font-size: 150%"> &emsp;Providers</b>
        </div>
        <div class="card-body" style="height: 20rem">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Provider Type</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cardiologist</td>
                <td>{{ cards_count }}</td>
              </tr>
              <tr>
                <td>Primary Care Doctor/Nurse</td>
                <td>{{ primdocnurse_count }}</td>
              </tr>
              <tr>
                <td>Social Worker</td>
                <td>{{ socwork_count }}</td>
              </tr>
              <tr>
                <td>All Others</td>
                <td>{{ allotherprov_count }}</td>
              </tr>
              <tr>
                <td><b>Total</b></td>
                <td><b>{{ provider_count }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-lg btn-block" href={{ url_for('provider_bp.view_provider_list') }} role="button">
            <i class="fas fa-list"></i> &emsp;View Provider List</a>
          <a class="btn btn-primary btn-lg btn-block" href={{ url_for('provider_bp.create_provider') }} role="button">
            <i class="fas fa-plus"></i> &emsp;Add a Provider</a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-clinic-medical fa-2x"></i><b style="font-size: 150%"> &emsp;Facilities</b>
        </div>
        <div class="card-body" style="height: 20rem">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Facility Type</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Domestic Hospital</td>
                <td>{{ hospital_count }}</td>
              </tr>
              <tr>
                <td>Outpatient Clinic</td>
                <td>{{ clinic_count }}</td>
              </tr>
              <tr>
                <td>International Surgical/Cath Center</td>
                <td>{{ surgsite_count }}</td>
              </tr>
              <tr>
                <td>All Others</td>
                <td>{{ otherfac_count }}</td>
              </tr>
              <tr>
                <td><b>Total</b></td>
                <td><b>{{ facility_count }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-lg btn-block" href={{ url_for('facility_bp.view_facility_list') }} role="button">
            <i class="fas fa-list"></i> &emsp;View Facility List</a>
          <a class="btn btn-primary btn-lg btn-block" href={{ url_for('facility_bp.create_facility') }} role="button">
            <i class="fas fa-plus"></i> &emsp;Add a Facility</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}